---
import CardGrid from './CardGrid.astro';

interface CategoryItem {
	label: string;
	href: string;
	count?: number;
	title?: string;
}

const { categories } = Astro.props as { categories: CategoryItem[] };
---

{categories.length > 0 && (
	<CardGrid>
		{categories.map((category) => (
			<li class="card-grid__item">
				<a
					class="card-grid__link"
					href={category.href}
					title={category.title ?? category.label}
				>
					<h4 class="card-grid__title">{category.label}</h4>
					{category.count !== undefined && (
						<p class="card-grid__meta">
							{category.count}{' '}
							{category.count === 1 ? 'oppskrift' : 'oppskrifter'}
						</p>
					)}
				</a>
			</li>
		))}
	</CardGrid>
)}
